[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
colorizer = {ref = "package", git = "https://github.com/CRY-TeX/cv-black-white-images-to-color.git"}
pandas = "*"

[dev-packages]

[requires]
python_version = "3.11"
